.darkula {
  background: #1D1D22;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

img {
  object-fit: cover !important;
}

.asteria {
  &__welcome {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 129.9%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF8563;
  }
  &__headline {
    font-family: Jura, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 101%;
    /* or 24px */
    text-align: center;
    letter-spacing: 0.01em;
    color: #E0DBDC;
  }
  &__input {
    width: 308px;
    .v-input__slot {
      min-height: 48px !important;
      fieldset {
        border-color: #FF8868;
        border-radius: 24px;
      }
      input {
        color: #E0DBDC !important;
        padding-left: 31px;
        padding-right: 31px;
        font-family: Montserrat;
        &::placeholder {
          color: #56595A !important;
        }
      }
    }
  }
  &__button {
    font-family: Montserrat;
    width: 308px;
    height: 48px !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 143%;
    text-align: center;
    background: #FF8868 !important;
    border-radius: 24px !important;
    text-transform: none !important;
    color: #1D1D22 !important;
    &.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
      background-color: #4B4341 !important;
      color: #FF8868 !important;
    }
  }
  &-menu {
    .v-list-item__icon {
      margin-right: 11px !important;
      i {
        color: #E0DBDC !important;
      }
    }
    .v-list-item__title {
      color: #E0DBDC !important;
      font-family: Montserrat;
    }
    &__dates {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 143%;
      /* or 19px */
      color: #56595A;
      margin: 0 !important;
    }
  }
  &-home {
    background: url("~@/assets/img/home/background.jpg") no-repeat;
    background-size: cover;
    height: 335px;
    &__bar {
      position: relative;
      width: 100%;
      height: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      .header__burger {
        position: absolute;
        top: 40px;
        left: 15px;
      }
    }
    &__title {
      font-family: Jura;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 129.9%;
      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #FF8563;
    }
    &__zodiac {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  &-info {
    .v-tabs {
      .v-slide-group__prev {
        min-width: 15px !important;
        max-width: 20px !important;
      }
      .v-tab {
        font-family: Jura;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        /* or 20px */
        text-transform: uppercase;
        color: #8C8C8C !important;
        min-width: auto !important;
        padding: 0 !important;
        margin-right: 20px;
      }
      .v-tab--active {
        //border-bottom: 1px solid #FF8563;
        color: #FF8563 !important;
        &:before {
          display: none;
        }
      }
      .v-tabs-slider-wrapper {
        bottom: 11px;
        max-width: 65px;
      }
    }
    p {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 143%;
      color: #E0DBDC;
      padding: 0 20px;
      span {
        font-weight: 600;
        font-family: inherit;
      }
    }
  }
}

.header__burger {
  text-align: right;
  width: 24px;
  height: 24px;
  position: relative;
  color: #eeeeee;
}

.header__burger.header-burger__cross span:nth-of-type(1) {
  position: absolute;
  top: 7px;
  width: 24px;
  transform: rotate(45deg);
}

.header__burger.header-burger__cross span:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  right: 2px;
  width: 12px;
}

.header__burger.header-burger__cross span:nth-of-type(3) {
  transform: rotate(-45deg);
  width: 12px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.header__burger span {
  position: absolute;
  transition: .5s;
  height: 1.5px;
  display: block;
  content: '';
  border: 0;
  background-color: #EEEEEE;
  margin-bottom: 6.5px;
}

.header__burger span:nth-of-type(1) {
  top: 0;
  width: 19px;
}

.header__burger span:nth-of-type(2) {
  width: 11px;
  top: 8px;
  right: 0;
}

.header__burger span:nth-of-type(3) {
  width: 13px;
  bottom: 0;
  right: 5px;
}

